<mat-card style="max-width: 500px;">
    <mat-card-content>

        <p>Name: {{product.title}}</p>
        <p>Description: {{product.description}}</p>
        <p>{{product.price | currency}}</p>
        <button mat-icon-button color="primary" routerLink="/edit/{{product.id}}">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary">
            <mat-icon (click)="onDelete(product.id!)">delete</mat-icon>
        </button>
    </mat-card-content>
</mat-card>
<br>